<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the Diabetes Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [1]:
#Import the required libraries
import pandas as pd

In [4]:
#Import the diabetes dataset
diabetes_data=pd.read_csv('pima-indians-diabetes.data', header=None)

#### 2: Analyze the dataset

In [5]:
#View the first five observations of the dataset
diabetes_data.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

#### 3: Find the features of the dataset

In [6]:
#Use the .NAMES file to view and set the features of the dataset
features_name=['Pregnant', 'gulcose', 'BP', 'Tricep skin','Insulin','BMI','Pedigree','Age','Class']

In [8]:
#Use the feature names set earlier and fix it as the column headers of the dataset
diabetes_data=pd.read_csv('pima-indians-diabetes.data', header=None, names=features_name)

In [9]:
#Verify if the dataset is updated with the new headers
diabetes_data

     Pregnant  gulcose  BP  Tricep skin  Insulin   BMI  Pedigree  Age  Class
0           6      148  72           35        0  33.6     0.627   50      1
1           1       85  66           29        0  26.6     0.351   31      0
2           8      183  64            0        0  23.3     0.672   32      1
3           1       89  66           23       94  28.1     0.167   21      0
4           0      137  40           35      168  43.1     2.288   33      1
..        ...      ...  ..          ...      ...   ...       ...  ...    ...
763        10      101  76           48      180  32.9     0.171   63      0
764         2      122  70           27        0  36.8     0.340   27      0
765         5      121  72           23      112  26.2     0.245   30      0
766         1      126  60            0        0  30.1     0.349   47      1
767         1       93  70           31        0  30.4     0.315   23      0

[768 rows x 9 columns]

In [10]:
#View the number of observations and features of the dataset
diabetes_data.shape

(768, 9)

#### 4: Find the response  of the dataset

In [35]:
#Select features from the dataset to create the model
feature_selection=['Pregnant', 'gulcose', 'BP','Insulin','BMI','Age']

In [36]:
#Create the feature object
feature_data=diabetes_data[feature_selection]

In [37]:
#Create the reponse object
target= diabetes_data['Class']

In [38]:
#View the shape of the feature object
feature_data.shape

(768, 6)

In [39]:
#View the shape of the target object
target.shape

(768,)

#### 5: Use training and testing datasets to train the model

In [40]:
#Split the dataset to test and train the model
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(feature_data,target, random_state=1)

In [41]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(576, 6)
(192, 6)
(576,)
(192,)

#### 6: Create a model  to predict the diabetes outcome

In [42]:
# Create a logistic regression model using the training set
from sklearn.linear_model import LogisticRegression
logreg= LogisticRegression()
logreg.fit(x_train, y_train)

LogisticRegression()

In [43]:
#Make predictions using the testing set
y_pred= logreg.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

#### 7: Check the accuracy of the model

In [44]:
#Evaluate the accuracy of your model
from sklearn import metrics
print (metrics.accuracy_score(y_test,y_pred))

0.7760416666666666

In [45]:
#Print the first 30 actual and predicted responses
print('True', y_test[0:30])
print()
print('Pred', y_pred[0:30])

True 285    0
101    0
581    0
352    0
726    0
472    0
233    0
385    0
556    0
59     0
756    0
341    0
445    1
614    1
371    0
355    1
19     1
711    0
430    0
117    0
493    1
218    1
159    1
667    1
553    0
628    0
620    0
238    1
640    0
750    1
Name: Class, dtype: int64

Pred [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0]